.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

#nav-segment {
  min-height: 700;
  padding: 1em 0em;
}
