#buttonA {
  background-color: #46139f;
}

#buttonB {
  background-color: #ff7f50;
}

#CountryCodes-segment {
  padding: 13em 0em;
  text-align: center;
}

#CountryCodes-header2 {
  margin-bottom: 1em;
}