.modal {
  max-height: 100%;
  overflow-y: scroll;
}

.country-code-modal-a {
  background-color: #46139f
}

.country-code-modal-b {
  background-color: #ff7f50
}

.buttonC {
  background-color: white;
  border-color:  #46139f;
}

#country-code-modal-header {
  text-align: center;
  padding-bottom: 1em;
}

#country-code-modal-button-container {
  text-align: center;
  padding-bottom: 1em;
}

#country-code-modal-form {
  text-align: justify;
  margin: 0 auto;
  width: 20em;
}