#signup-form-segment {
  text-align: center;
  display: block;
  padding-top: 13em;
}

#signup-form {
  display: inline-block;
  text-align: left;
  width: 25em;
}

#google-login-button {
  padding-top: 1em;
}